.blog{
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    margin: .8rem 0;
}
.blog__content{
    padding: 1rem;
}
.blog__img img{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}



@media screen and (max-width: 574px) {
    
    .blog__img--mobile{
        height: 240px;
        display: block;
        overflow: hidden;
    }
    
    .blog__img--mobile img{
        width: 100%;
        border-radius: var(--border-radius) var(--border-radius) 0 0 ;
    }
    .blog--mobile .blog__content{
        padding: 1.5rem;
    }
}